// _searchClass.scss
.search {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.search input {
    width: 100%;
    max-width: 750px; /* Optional: Set a max-width for the input */
}