header {
  text-align: center;
}

header img {
  width: 250px;
  padding-top: 1%;
}

// links
header nav a {
  color: var(--white);
  padding: 20px;
  display: inline-block;
}

header nav a:hover,
header nav a:focus,
header nav a.active {
  filter: drop-shadow(4px 4px 8px var(--black));
  color: var(--primary);
}
