.tableShell {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 100%;
    min-height: 100vh;
  }
  
  .tableShell-panes {
    display: flex;
    flex: 1;
    height: calc(100vh - 100px); /* Adjust the height if necessary */
  }
  
  .tableShell-directory {
    flex: 1;
    background-color: var(--white);
    border-right: 1px solid var(--gray); /* A subtle divider between panels */
  }
  
  .tableShell-profile {
    flex: 1;
    background-color: var(--white);
    padding: 20px;
    overflow-y: auto; /* Ensures content is scrollable */
  }