body {
    text-align: center;
    background-image: url('../assets/Brand/alps.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}