a {
    text-decoration: none;
    color: inherit;
}

// Styles for focused
a.focus {
    filter: drop-shadow(4px 4px 8px var(--primary));
    color: var(--primary);
}
tr:focus,

// Styles for active
a.active {
    filter: drop-shadow(4px 4px 8px var(--primary));
    color: var(--primary);
    font-weight: bold;
}
tr.active {
    filter: drop-shadow(4px 4px 8px var(--primary));
    color: var(--primary);
    font-weight: bold;
}

// Styles for selected
a.selected {
    filter: drop-shadow(4px 4px 8px var(--primary));
    color: var(--primary);
}
tr.selected {
    filter: drop-shadow(4px 4px 8px var(--primary));
    color: var(--primary);
}