a {
    text-decoration: none;
    color: inherit;
}

// styles for hover & focus
// tr:hover, tr.focus,
// , a.focus
:hover {
    filter: drop-shadow(4px 4px 8px var(--primary));
    color: var(--primary);
}

// styles for active


// tr.active,
// a.active {
//     filter: drop-shadow(4px 4px 8px var(--primary));
//     color: var(--primary);
// }